src/main/mule/rishi_cloud.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="97395396-45d7-4953-bab1-9811300b5397" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="rishi_cloudFlow" doc:id="d39fd0c6-1a55-459e-a407-815ff8022566" >
		<http:listener doc:name="Listener" doc:id="2a1fc772-d46a-4dc7-ab09-0a2182e3a7e3" config-ref="HTTP_Listener_config" path="/ri"/>
		<ee:transform doc:name="Transform Message" doc:id="4b671f21-426d-4e18-bd9c-eae97e2695ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msg":"helo"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="673a72eb-7b36-4cab-97b1-d5b440f34cec" message="#[payload]"/>
	</flow>
</mule>
